body {
	text-align: center;
	padding-top: 150px;
	
}
.input-search {
	width: 443px;
	height: 38px;
}
.input-button{
	width: 144px;height: 36px;
	color: #757575;
	padding:0 16px;
	border-right-style: solid;
	background-color: #f2f2f2;
	border:none;
	font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
    margin: 11px 4px;
	min-width: 54px;
	text-align: center;
	
	
}
.list-inline{
	list-style: none;
	display: inline;
	color: #1a0dab;
	word-spacing: 2px

}
.list-inline li{
	display: inline;
}
